*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light dark;
    hanging-punctuation: first last;
}

body {
    min-height: 100svh;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* Form Elements */
input,
button,
textarea,
select {
    font: inherit;
}

/* Images & Videos */
img,
picture,
video {
    display: block;
    max-width: 100%;
}

svg {
    vertical-align: -0.125em;
}

/* Scroll behaviours */
:has(:target) {
    scroll-margin-top: 2rem;
}

@media (prefers-reduced-motion: none) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}

/* remove animations for reduced motion setting */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}