---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Hello World!">
	<h1>Hello World! <Icon name="mdi:world" width="24px" is:inline={true} /></h1>
</Layout>

<style>


</style>
