---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

const codeSample = `function greet(name: string) {
	return "Hello " + name;
}

console.log(greet("World")); // Prints "Hello World"
`;
---

<Layout title="Hello World!">
	<main>
		<h1>Hello World! <Icon name="ph:globe-hemisphere-west" /></h1>
		<Code code={codeSample} lang="ts" theme="catppuccin-mocha" />

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nobis.</p>
		<p class="serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nobis.</p>
		<p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nobis.</i></p>
		<p class="serif"><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nobis.</i></p>
	</main>
</Layout>

<style>
	main {
		margin: auto 50px;
	}

	h1 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 1rem;
	}

	.serif {
		font-family: var(--font-serif);
	}
</style>
