---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/Nav.astro";
import Button from "@/components/Button.astro";
import { Code } from "astro-expressive-code/components";

const codeSample = `function greet(name: string) {
	return "Hello " + name;
}

console.log(greet("World"));
console.log(greet("World")); // Prints "Hello World" 0 1 2 3`;

let insertedReg = new RegExp(/ \+ name/, "gi");
---

<Layout title="Hello World!">
	<Nav />
	<main>
		<h1>Lorem Ipsum</h1>
		<p>
			Lorem ipsum dolor sit amet <a>consectetur adipisicing</a> elit. Ex consectetur dolor delectus natus cumque repellat, dolores iste molestiae, at deserunt
			repellendus nihil quae. Hic, repudiandae? Nesciunt animi voluptate quas perferendis provident odio voluptatum libero, asperiores doloribus veniam fugit
			explicabo porro nobis, recusandae autem. Perferendis quasi minima, eligendi doloremque ut reprehenderit.
		</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem praesentium in unde non esse doloremque neque voluptatibus deleniti eligendi quas!</p>
		<Code code={codeSample} lang="ts" ins={[6, insertedReg]} del={[5]} title="hello-world.ts" frame="code" />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, amet incidunt deserunt veniam <a>totam consequuntur</a> debitis eaque possimus illum
			qui nobis commodi in nisi maxime provident error repellat accusamus vitae quibusdam sunt eligendi dolorem? Doloremque, repellat tempore. Autem quas quasi
			eaque facilis pariatur voluptas eligendi sunt quisquam necessitatibus expedita, reiciendis voluptatibus suscipit doloribus molestiae voluptates porro,
			blanditiis quis officia tempore consectetur vero ea? Autem voluptatem vero quae accusamus ad animi laboriosam neque recusandae similique, aliquam
			<a>quos reiciendis</a> quo in voluptatum nesciunt inventore molestiae modi. Optio, enim! Laborum animi deleniti reprehenderit consequatur maiores impedit
			nostrum expedita dicta doloribus?
		</p>

		<div class="button-group">
			<Button variant="primary">Primary</Button>
			<Button variant="secondary">Secondary</Button>
			<Button variant="primary" disabled>Disabled</Button>
			<Button variant="secondary" disabled>Disabled 2</Button>
		</div>

		<p>
			<span class="text-gradient">Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Ex consectetur dolor delectus natus cumque repellat, dolores
			iste molestiae, at deserunt repellendus nihil quae. Hic, repudiandae? Nesciunt animi voluptate quas perferendis provident odio voluptatum libero, asperiores
			doloribus veniam fugit explicabo porro nobis, recusandae autem. <a>Perferendis quasi minima, eligendi doloremque ut reprehenderit.</a>
		</p>
		<hr />
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem praesentium in unde non esse doloremque neque voluptatibus deleniti eligendi quas!</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, placeat sint? Suscipit, amet incidunt deserunt veniam totam consequuntur
			debitis eaque possimus illum qui nobis commodi in nisi maxime provident error <a>repellat accusamus</a> vitae quibusdam sunt eligendi dolorem? Doloremque,
			repellat tempore. Autem quas quasi eaque facilis pariatur voluptas eligendi sunt quisquam necessitatibus expedita, reiciendis voluptatibus suscipit doloribus
			molestiae voluptates porro, blanditiis quis officia tempore consectetur vero ea? Autem voluptatem vero quae accusamus ad <a>animi laboriosam</a> neque
			recusandae similique, aliquam quos reiciendis quo in voluptatum nesciunt inventore molestiae modi. Optio, enim! Laborum animi deleniti reprehenderit
			consequatur maiores impedit nostrum expedita dicta doloribus?
		</p>
	</main>
</Layout>

<style>
	main {
		padding: 2rem;
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
		color: light-dark(#000, #fff);
	}

	p {
		margin: 0.75rem 0;
		line-height: 1.6;
		color: light-dark(#333, #ccc);
		font-size: 1.1rem;
	}

	.button-group {
		display: flex;
		gap: 1rem;
	}
</style>
