---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button">, Omit<HTMLAttributes<"a">, "type"> {
	variant?: "primary" | "secondary" | "outline" | "ghost";
	loading?: boolean;
	class?: string;
}

let { variant = "primary", loading, class: className = "", ...rest } = Astro.props;
const Anchor = rest.href ? "a" : "button";

rest.disabled = loading || rest.disabled;
---

<Anchor class:list={["btn", className, variant, { loading }]} {...rest}>
	<span class="btn-content">
		{loading && <Icon class="loading-icon" name="line-md:loading-twotone-loop" />}<slot />
	</span>
</Anchor>

<style>
	.btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		padding: 8px 16px;
		border: none;
		border-radius: var(--radius-s);
		text-decoration: none;
		cursor: pointer;
		transition:
			color 0.2s ease,
			background-color 0.2s ease,
			border-color 0.2s ease;
	}

	.btn:disabled {
		cursor: not-allowed;
		opacity: 0.8;
	}

	.loading {
		position: relative;
		cursor: wait !important;
	}

	.loading-icon {
		margin-right: 0.3rem;
	}

	.primary {
		color: light-dark(#fff, #000);
		background-color: light-dark(#171717, #e5e5e5);
	}
	.primary:hover:not(:disabled) {
		background-color: light-dark(#2e2e2e, #cfcfcf);
	}
	.primary:active:not(:disabled) {
		background-color: light-dark(#3f3f3f, #bfbfbf);
	}

	.secondary,
	.outline:hover:not(:disabled) {
		color: light-dark(#000, #fff);
		background-color: light-dark(#dfdfdf, #262626);
	}
	.secondary:hover:not(:disabled),
	.outline:active:not(:disabled) {
		background-color: light-dark(#ced1d9, #2f2f31);
	}
	.secondary:active:not(:disabled) {
		background-color: light-dark(#bbbbbb, #424242);
	}

	.outline {
		color: light-dark(#000, #fff);
		border: 1px solid light-dark(#171717, #e5e5e5);
		background-color: transparent;
	}

	.ghost {
		color: light-dark(#000, #fff);
		background-color: transparent;
	}
	.ghost .btn-content {
		position: relative;
	}
	.ghost .btn-content::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: var(--color-text);
		transform: scaleX(0);
		transform-origin: bottom center;
		transition: transform 0.25s ease-out;
	}
	.ghost:hover:not(:disabled) .btn-content::after {
		transform: scaleX(1);
		transform-origin: bottom center;
	}
</style>
