---
interface Props {
	variant?: "primary" | "secondary" | "outline" | "ghost";
	type?: "button" | "submit" | "reset";
	href?: string;
	disabled?: boolean;
	loading?: boolean;
}

const { type = "button", variant = "primary", href, loading, disabled } = Astro.props;

const Anchor = href ? "a" : "div";
---

<Anchor class="anchor" {href}>
	<button class:list={["btn", variant, loading]} type={type} disabled={disabled}>
		<slot />
	</button>
</Anchor>

<style>
	button {
		font-size: 14px;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		padding: 8px 16px;
		border: none;
		border-radius: var(--radius-s);
		transition:
			color 0.2s ease,
			background-color 0.2s ease,
			border-color 0.2s ease;
	}

	.primary {
		color: light-dark(#fff, #000);
		background-color: light-dark(#171717, #e5e5e5);
	}
	.primary:hover {
		background-color: light-dark(#2e2e2e, #cfcfcf);
	}
	.primary:active {
		background-color: light-dark(#3f3f3f, #bfbfbf);
	}
	.primary:disabled {
		background-color: light-dark(#444, #bbb);
		color: light-dark(#888, #666);
		cursor: not-allowed;
	}

	.secondary {
		color: light-dark(#000, #fff);
		background-color: light-dark(#f0f0f0, #262626);
	}
	.secondary:hover {
		background-color: light-dark(#dfdfdf, #202020);
	}
	.secondary:active {
		background-color: light-dark(#3f3f3f, #bfbfbf);
	}
	.secondary:disabled {
		background-color: light-dark(#444, #bbb);
		color: light-dark(#888, #666);
		cursor: not-allowed;
	}
</style>
