---
import { Icon } from "astro-icon/components";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
---

<div class="navbar">
	<nav>
		<div class="logo"><h4><Icon name="ph:planet" width={24} height={24} /> Lorem Ipsum</h4></div>
		<ul>
			<li><a class="underline-hover" href="/">Dolor</a></li>
			<li><a class="underline-hover" href="/">Sit Amet</a></li>
		</ul>
	</nav>
	<div class="right-section">
		<a href="https://github.com/itsthistim/astro-template" target="_blank" aria-label="View source code on GitHub">
			<Icon name="mdi:github" width={32} height={32} />
		</a>
		<ThemeSwitcher />
	</div>
</div>

<style>
	.navbar {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		gap: 1rem;
		padding: 1.6rem;
		z-index: 1000;
		position: sticky;
		top: 0;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: light-dark(hsla(0, 0%, 92%, 0.7), hsla(240, 23%, 4%, 0.7));
		backdrop-filter: blur(8px);
		padding: 10px;
		border-radius: var(--radius-full);
		min-width: 570px;
		grid-column: 2;
	}

	.right-section {
		display: flex;
		align-items: center;
		gap: 1rem;
		justify-self: end;
		grid-column: 3;
	}

	ul {
		list-style: none;
		display: flex;
		gap: 1.5rem;
		padding: 0 1.5rem;
	}

	a {
		color: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));
		text-decoration: none;
		transition: color 0.3s ease;
	}

	.logo {
		font-weight: bold;
		font-size: 1.5rem;
		padding: 0 1.5rem;
	}
</style>
