---
---

<section id="pricing" class="pricing">
	<div class="container">
		<div class="section-title">
			<h2>Pricing</h2>
			<h3>Our Competing <span>Prices</span></h3>
			<p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="box">
					<h3>Free</h3>
					<h4><sup>$</sup>0<span> / month</span></h4>
					<ul>
						<li>Aida dere</li>
						<li>Nec feugiat nisl</li>
						<li>Nulla at volutpat dola</li>
						<li class="na">Pharetra massa</li>
						<li class="na">Massa ultricies mi</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-buy">Buy Now</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mt-4 mt-md-0">
				<div class="box recommended">
					<span class="recommended-badge">Recommended</span>
					<h3>Business</h3>
					<h4><sup>$</sup>19<span> / month</span></h4>
					<ul>
						<li>Aida dere</li>
						<li>Nec feugiat nisl</li>
						<li>Nulla at volutpat dola</li>
						<li>Pharetra massa</li>
						<li class="na">Massa ultricies mi</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-buy">Buy Now</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
				<div class="box">
					<h3>Developer</h3>
					<h4><sup>$</sup>29<span> / month</span></h4>
					<ul>
						<li>Aida dere</li>
						<li>Nec feugiat nisl</li>
						<li>Nulla at volutpat dola</li>
						<li>Pharetra massa</li>
						<li>Massa ultricies mi</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-buy">Buy Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.pricing .box {
		padding: 20px;
		background: #f9f9f9;
		text-align: center;
		border-radius: 8px;
		position: relative;
		overflow: hidden;
		border: 2px solid #f9f9f9;
	}

	.pricing .box h3 {
		font-weight: 400;
		padding: 15px;
		margin-top: 15px;
		font-size: 20px;
		font-weight: 600;
		color: #493c3e;
	}

	.pricing .box h4 {
		font-size: 42px;
		color: #e43c5c;
		font-weight: 500;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 20px;
	}

	.pricing .box h4 sup {
		font-size: 20px;
		top: -15px;
		left: -3px;
	}

	.pricing .box h4 span {
		color: #bababa;
		font-size: 16px;
		font-weight: 300;
	}

	.pricing .box ul {
		padding: 0;
		list-style: none;
		color: #493c3e;
		text-align: center;
		line-height: 20px;
		font-size: 14px;
	}

	.pricing .box ul li {
		padding-bottom: 16px;
	}

	.pricing .box ul i {
		color: #e43c5c;
		font-size: 18px;
		padding-right: 4px;
	}

	.pricing .box ul .na {
		color: #ccc;
		text-decoration: line-through;
	}

	.pricing .box .btn-wrap {
		padding: 15px;
		text-align: center;
	}

	.pricing .box .btn-buy {
		display: inline-block;
		padding: 8px 40px 10px 40px;
		border-radius: 50px;
		border: 2px solid #e43c5c;
		color: #e43c5c;
		font-size: 14px;
		font-weight: 400;
		font-family: 'Nunito', sans-serif;
		font-weight: 600;
		transition: 0.3s;
	}

	.pricing .box .btn-buy:hover {
		background: #e43c5c;
		color: #fff;
	}

	.pricing .recommended {
		border-color: #e43c5c;
	}

	.pricing .recommended .btn-buy {
		background: #e43c5c;
		color: #fff;
	}

	.pricing .recommended .btn-buy:hover {
		background: #d91e42;
		border-color: #d91e42;
	}

	.pricing .recommended-badge {
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		font-size: 13px;
		padding: 3px 25px 6px 25px;
		background: #fce6ea;
		color: #e43c5c;
		border-radius: 50px;
	}
</style>
